body {
    font-size: 14px;
    color: #4c5258;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    background-color: #f4f4f4;
    font-family: Roboto, sans-serif;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: fit-content;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #00a859, #17a2b8);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.image-awal {
    max-height: 99vh;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.container {
    padding-right: 60px;
    padding-left: 60px;
}
.card {
    width: 100%;
    height: 75vh;
    background-color: #fff;
    border-radius: 8px;
    border: 3px solid #e1b632;
}
.header {
    height: 100px;
    background-color: #6a96ab;
    display: flex;
    font-size: 35px;
    color: #e1b632;
    place-content: center;
    place-items: center;
    gap: 35%;
    text-align: center;
}
.card-finish {
    padding: 15px;
    overflow: scroll;
    height: 349px;
}

/* clock */

.awal-clock {
    text-align: center;
}

.clock {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url(/img/clock.png);
    background-color: #fff;
    background-size: 100% 100%;
    border: 3px solid cadetblue;
    border-radius: 50%;
    display: inline-flex;
}

.clock > .clockwise {
    background: #000;
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #0003;
}
.clock > .hours {
    background: #222;
    height: 30%;
    left: calc(50% - 2.8px);
    width: 5px;
}

.clock > .hours:before {
    content: "";
    display: block;
    height: 15px;
    width: 5px;
    background: #222;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% - 5px);
    border-radius: 5px;
}

.clock > .minutes {
    background: #222;
    height: 40%;
    left: calc(50% - 2.9px);
    width: 6px;
}

.clock > .minutes:before {
    content: "";
    display: block;
    height: 18px;
    width: 6px;
    background: #222;
    position: absolute;
    top: calc(100% - 5px);
    box-shadow: 5px 5px 5px #0003;
    border-radius: 5px;
}

.clock > .seconds {
    background: #f00;
    height: 45%;
    left: calc(50% - 1.5px);
    width: 3px;
}

.clock > .seconds:before {
    content: "";
    display: block;
    height: 23px;
    width: 3px;
    background: #f00;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% - 5px);
    border-radius: 5px;
}
.clock > .seconds:after {
    content: "";
    display: block;
    height: 10px;
    width: 5px;
    background: #f00;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% + 10px);
    left: -1px;
    border-radius: 5px;
}

@media (max-width: 986px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
    .header {
        gap: 20%;
    }
    .card-finish {
        height: 367px;
    }
}
