:root {
    font-family: Roboto, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    object-position: center;
}
.container {
    display: grid;
    gap: 16px;
}
#question {
    position: relative;
    margin: 0 15%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    min-height: 50vh;
    z-index: 1;
}
/* SECTION clock */
#clock {
    padding: 16px 0;
    justify-self: center;
}
.clock {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url(/img/clock.png);
    background-color: #fff;
    background-size: 100% 100%;
    border: 3px solid cadetblue;
    border-radius: 50%;
    display: inline-flex;
}

.clock > .clockwise {
    background: #000;
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #0003;
}
.clock > .hours {
    background: #222;
    height: 30%;
    left: calc(50% - 2.8px);
    width: 5px;
}

.clock > .hours:before {
    content: "";
    display: block;
    height: 15px;
    width: 5px;
    background: #222;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% - 5px);
    border-radius: 5px;
}

.clock > .minutes {
    background: #222;
    height: 40%;
    left: calc(50% - 2.9px);
    width: 6px;
}

.clock > .minutes:before {
    content: "";
    display: block;
    height: 18px;
    width: 6px;
    background: #222;
    position: absolute;
    top: calc(100% - 5px);
    box-shadow: 5px 5px 5px #0003;
    border-radius: 5px;
}

.clock > .seconds {
    background: #f00;
    height: 45%;
    left: calc(50% - 1.5px);
    width: 3px;
}

.clock > .seconds:before {
    content: "";
    display: block;
    height: 23px;
    width: 3px;
    background: #f00;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% - 5px);
    border-radius: 5px;
}
.clock > .seconds:after {
    content: "";
    display: block;
    height: 10px;
    width: 5px;
    background: #f00;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% + 10px);
    left: -1px;
    border-radius: 5px;
}

/* SECTION particle */
#particle-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
#particle-canvas canvas {
}
