:root {
    font-family: Roboto, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    object-position: center;
}
.container {
    display: grid;
    gap: 16px;
}
#question {
    position: relative;
    margin: 0 15%;
    background-color: bisque;
    border: 5px solid #e1b632;
    border-radius: 8px;
    min-height: 50vh;
    z-index: 1;
}
#question #content {
    padding: 16px;
    color: black;
    background-color: #6a96ab;
}
.content-soal {
    padding: 16px;
    color: black;
    font-weight: bold;
}
form {
    display: flex;
    justify-content: center;
    z-index: 999;
    position: relative;
    gap: 5px;
}
form .input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #6a96ab;
    width: 350px;
}
form input:focus-visible {
    outline: #e1b632 auto 2px;
}
/* SECTION clock */
#clock {
    padding: 16px 0;
    justify-self: center;
}
.clock {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url(/img/clock.png);
    background-color: #fff;
    background-size: 100% 100%;
    border: 3px solid #e1b632;
    border-radius: 50%;
    display: inline-flex;
}

.clock > .clockwise {
    background: #000;
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #0003;
}
.clock > .hours {
    background: #222;
    height: 30%;
    left: calc(50% - 2.8px);
    width: 5px;
}

.clock > .hours:before {
    content: "";
    display: block;
    height: 15px;
    width: 5px;
    background: #222;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% - 5px);
    border-radius: 5px;
}

.clock > .minutes {
    background: #222;
    height: 40%;
    left: calc(50% - 2.9px);
    width: 6px;
}

.clock > .minutes:before {
    content: "";
    display: block;
    height: 18px;
    width: 6px;
    background: #222;
    position: absolute;
    top: calc(100% - 5px);
    box-shadow: 5px 5px 5px #0003;
    border-radius: 5px;
}

.clock > .seconds {
    background: #f00;
    height: 45%;
    left: calc(50% - 1.5px);
    width: 3px;
}

.clock > .seconds:before {
    content: "";
    display: block;
    height: 23px;
    width: 3px;
    background: #f00;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% - 5px);
    border-radius: 5px;
}
.clock > .seconds:after {
    content: "";
    display: block;
    height: 10px;
    width: 5px;
    background: #f00;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% + 10px);
    left: -1px;
    border-radius: 5px;
}

/* SECTION particle */
#particle-canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
canvas {
    opacity: 0.3;
}
.btn-soal {
    background: transparent;
    border-radius: 8px;
    border: 1px solid #6a96ab;
    transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
}
.btn-soal:hover {
    background-color: #6a96ab;
    border: 2px solid #e1b632;
    transition-timing-function: linear;
}
.soal-gambar {
    text-align: center;
}
.soal-gambar img {
    border-radius: 5px;
    border: 2px solid yellow;
}
.number {
    position: absolute;
    padding: 10px;
    background-color: aliceblue;
    top: -25px;
    left: -25px;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #e1b632;
}

@media (max-width: 986px) {
    .container {
        display: block;
    }
    #clock {
        text-align: center;
    }
    #question {
        margin: 0 7%;
    }
    form {
        padding: 0 10px;
    }
}
