/* @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"); */

body {
    font-size: 14px;
    color: #4c5258;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    background-color: #f4f4f4;
    font-family: Roboto, sans-serif;
    margin: 0;
}
.image-awal {
    max-height: 99vh;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.container {
    padding-right: 60px;
    padding-left: 60px;
}
.card {
    width: 100%;
    height: 75vh;
    display: flex;
    place-content: center;
    place-items: center;
}

.image-name {
    width: 100%;
    height: -webkit-fill-available;
    border-radius: 5px;
    border: 2px solid #e1b632;
    opacity: 0.9;
}
.custom {
    position: absolute;
    z-index: 1;
    display: grid;
    place-items: center;
}
.text-name {
    color: white;
    font-size: 60px;
    font-family: "Permanent Marker", cursive;
    margin-bottom: 15px;
    margin-top: 0;
}
.button {
}
a i:hover {
    background-color: #000;
    color: yellowgreen;
}
.bx {
    padding: 10px;
    font-size: 35px;
    color: #e1b632;
    border: 2px solid #e6e93f;
    border-radius: 145px;
}

.awal-clock {
    text-align: center;
}

#particle-canvas {
    max-width: 100%;
    /* height: 30vh; */
    background-color: #fff;
    border-radius: 5px;
}
canvas {
    height: -webkit-fill-available;
}

/* clock */

.clock {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url(/img/clock.png);
    background-color: #fff;
    background-size: 100% 100%;
    border: 3px solid cadetblue;
    border-radius: 50%;
    display: inline-flex;
}

.clock > .clockwise {
    background: #000;
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #0003;
}
.clock > .hours {
    background: #222;
    height: 30%;
    left: calc(50% - 2.8px);
    width: 5px;
}

.clock > .hours:before {
    content: "";
    display: block;
    height: 15px;
    width: 5px;
    background: #222;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% - 5px);
    border-radius: 5px;
}

.clock > .minutes {
    background: #222;
    height: 40%;
    left: calc(50% - 2.9px);
    width: 6px;
}

.clock > .minutes:before {
    content: "";
    display: block;
    height: 18px;
    width: 6px;
    background: #222;
    position: absolute;
    top: calc(100% - 5px);
    box-shadow: 5px 5px 5px #0003;
    border-radius: 5px;
}

.clock > .seconds {
    background: #f00;
    height: 45%;
    left: calc(50% - 1.5px);
    width: 3px;
}

.clock > .seconds:before {
    content: "";
    display: block;
    height: 23px;
    width: 3px;
    background: #f00;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% - 5px);
    border-radius: 5px;
}
.clock > .seconds:after {
    content: "";
    display: block;
    height: 10px;
    width: 5px;
    background: #f00;
    position: absolute;
    box-shadow: 5px 5px 5px #0003;
    top: calc(100% + 10px);
    left: -1px;
    border-radius: 5px;
}
